div.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
div.header h1 {
    margin: 0;
    padding: 0;
}
.header{
    box-shadow: 2px 3px 2px 3px rgb(206, 206, 206);
    padding: 10px;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
ul.menu li  {
    text-decoration: none;
    padding: 0 20px;
}

ul.menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 19px;
}
*{
    background-color: rgb(250, 250, 250);
}